@import 'components/lib/variables.scss';

.root {
    display: flex;
    padding: $offset-lg;
    padding-bottom: 0;
}

.aside {
    padding-right: $offset-lg;
}

.content {
    flex-grow: 1;
}

.searchHeader {
    display: flex;
    padding-bottom: $offset-lg;
    justify-content: space-between;

    h2 {
        margin: 0 0 $offset-md 0;
        line-height: 1;
    }
}
.searchResult {
    font-size: $font-size-md;
}

.items {
    margin: 0;
    padding: 0;

    li:first-of-type {
        margin-top: 0;
    }
}

.notFound {
    padding: $offset-md 0;
}
